<div class="container" style="padding-top: 60px;">

  <h1 class="page-header">User Profile | <%= @user.gamer_tag %></h1>

  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <%= image_tag("#{@user.profile_image}.jpg") %>
      </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12">
      <h3>Personal info</h3>
          <br>
          <div class="col-lg-8">
            <b>Username:</b> <%= @user.gamer_tag %><br>
            <b>Rating:</b> <%= @user.rating %><br>
            <b>Last Seen:</b> <%= @user.last_sign_in_at %><br>
            <br>
            <b>Description:</b> <br><br>
            <!-- goals: if they don't have a description, we say that.. -->
            <%= @user.description %>
            <p><%= link_to 'Edit', edit_user_registration_path, :class => 'btn btn-primary' %></p>
          </div>
        </div>
    </div>
  </div>
