<h1>game2048#show</h1>

<% if @display_p1_turn %>
    <p>Player 1's turn</p>
<% else %>
    <p>Player 2's turn</p>
<% end %>

<div id="player1">
  <p>Player 1</p>
  <p>
    <% @display_board1.each do |r| %>
        <%= r %><br>
      <% end %>
  </p>
</div>
<div id="player2">
  <p>Player 2</p>
  <p>
    <% @display_board2.each do |r| %>
        <%= r %><br>
    <% end %>
  </p>
</div>


<%= form_tag("/game2048/move", method: "post") do %>
  <%= label_tag(:dir, "Direction") %>
  <%= text_field_tag(:dir) %>

  <%= label_tag(:row, "Row") %>
  <%= text_field_tag(:row) %>

  <%= label_tag(:col, "Column") %>
  <%= text_field_tag(:col) %>

  <%= label_tag(:val, "Value") %>
  <%= text_field_tag(:val) %>

  <%= submit_tag("Submit") %>
<% end %>
