<link rel="stylesheet" type="text/css" href="css/game_2048view.css">
<div class="container">
  <div class="center">
    <h1>Battle 2048</h1>

    <% if @cur_pid == @game.pid1 %>
        <p>
        <h4><%= @game.msg1 %></h4>

        <% begin %>
            <% user2 = User.find(@game.pid2) %>
        <% rescue %>
            <% user2 = nil %>
        <% end %>

        <% if user2.class != nil.class %>
            You are currently playing <%= user2.email %>.
        <% end %>

        </p>
    <% else %>
        <p>
        <h4><%= @game.msg2 %></h4>

        <% begin %>
            <% user1 = User.find(@game.pid1) %>
        <% rescue %>
            <% user1 = nil %>
        <% end %>

        <% if user1.class != nil.class %>
            You are currently playing <%= (User.find(@game.pid1)).email %>.
        <% end %>

        </p>
    <% end %>
  </div>

  <div class="center">
    <%= button_to "New Game", {action: "end_game"}, class: "btn btn-success" %>
  </div>

  <br>

  <style>
      .dir.selected {
          background-color: #b0c4de;
      }

      .val.selected {
          background-color: #b0c4de;
      }

      .square.selected {
          background-color: #b0c4de;
      }

      #pleasenopush {
          display: none;
      }

      .center {
          text-align: center;
      }
  </style>
  <% if !@game.game_over && (@game.pid1 == @cur_pid && @game.player1turn || @game.pid2 == @cur_pid && !@game.player1turn) %>
      <div class="row-fluid">
        <div class="col-xs-6 col-sm-6 col-md-6" style="">
          <div id="player">
            <p class="who">You</p>

            <div class="board">
              <% for r in 0..3 %>
		  <div class="row">
                  <% for c in 0..3 %>
                      <span id="player<%= "#{r}#{c}" %>" class="square num<%= @playerboard[r, c] %> unselected grid tile"><%= (@playerboard[r, c] == 0) ? " " : 2 ** @playerboard[r, c] %></span>
                  <% end %>
		  </div>
              <% end %>
            </div>
          </div>
 	  <div class="text-center">
          <button id="dirup" type="button" class="btn btn-default dir selected" aria-label="Up Button" onclick="selectDir('up')">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
          </button>

          <button id="dirdown" type="button" class="btn btn-default dir unselected" aria-label="Down Button" onclick="selectDir('down')">
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
          </button>

          <button id="dirleft" type="button" class="btn btn-default dir unselected" aria-label="Left Button" onclick="selectDir('left')">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          </button>

          <button id="dirright" type="button" class="btn btn-default dir unselected" aria-label="Right Button" onclick="selectDir('right')">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
          </button>
	</div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6">
          <div id="opponent">
            <p class="who">Opponent</p>

            <div class="board">
              <% first=true %>
              <% for r in 0..3 %>
		  <div class="row">
                  <% for c in 0..3 %>
                      <span id="opponent<%= "#{r}#{c}" %>" class="grid tile opponent square num<%= @opponentboard[r, c] %> <%= (first) ? "selected" : "unselected" %>" onclick="selectSquare(<%= "#{r},#{c}"%>)"><%= (@opponentboard[r, c] == 0) ? " " : 2 ** @opponentboard[r, c] %></span>
                      <% first = false %>
                  <% end %>
		  </div>
              <% end %>
            </div>
          </div>
          <div id="piecechoices" class="text-center">

            <button id="val1" type="button" class="btn btn-default val selected" aria-label="value 1" onclick="selectVal(1)">
              2
            </button>

            <button id="val2" type="button" class="btn btn-default val unselected" aria-label="value 2" onclick="selectVal(2)">
              4
            </button>

          </div>
        </div>

        <% if !@game.game_over %>
            <div class="center">
              <button id="fakesubmit" class="btn btn-primary" onclick="postjs()">SUBMIT</button>
            </div>
        <% end %>

      </div>
      </div>

      <script>
          var selectedSquare = [0, 0];
          var selectedDir = "up";
          var selectedVal = 1;
          var selectSquare = function (r, c) {
              var curSelected = document.querySelector("#opponent" + selectedSquare[0] + selectedSquare[1]);
              curSelected.className = curSelected.className.split(" ").slice(0, -1).join(" ") + " unselected"; // pops the selected class off the list, makes unselected
              var newSelected = document.querySelector("#opponent" + r + c);
              newSelected.className = newSelected.className.split(" ").slice(0, -1).join(" ") + " selected"; // pops unselected, makes selected
              selectedSquare = [r, c];
          };
          var selectDir = function (dir) {
              var curSelected = document.querySelector("#dir" + selectedDir);
              curSelected.className = curSelected.className.split(" ").slice(0, -1).join(" ") + " unselected";
              var newSelected = document.querySelector("#dir" + dir);
              newSelected.className = newSelected.className.split(" ").slice(0, -1).join(" ") + " selected";
              selectedDir = dir;
          };
          var selectVal = function (val) {
              var curSelected = document.querySelector("#val" + selectedVal);
              curSelected.className = curSelected.className.split(" ").slice(0, -1).join(" ") + " unselected";
              var newSelected = document.querySelector("#val" + val);
              newSelected.className = newSelected.className.split(" ").slice(0, -1).join(" ") + " selected";
              selectedVal = val;
          };
          var postjs = function () {
              document.querySelector("#dir").value = selectedDir;
              document.querySelector("#row").value = selectedSquare[0];
              document.querySelector("#col").value = selectedSquare[1];
              document.querySelector("#val").value = selectedVal;
              //submit form: http://stackoverflow.com/questions/8842723/how-do-i-submit-a-form-with-no-form-id-and-no-submit-id-but-known-hidden-value
              var inputs = document.getElementsByTagName("input");
              document.forms["pleasenopush"].submit();
          };
      </script>
      <%= form_tag("/game2048/move", method: "post", id: "pleasenopush") do %>
          <%= label_tag(:dir, "Direction") %>
          <%= text_field_tag(:dir) %>

          <%= label_tag(:row, "Row") %>
          <%= text_field_tag(:row) %>

          <%= label_tag(:col, "Column") %>
          <%= text_field_tag(:col) %>

          <%= label_tag(:val, "Value") %>
          <%= text_field_tag(:val) %>

          <%= submit_tag("Submit") %>
      <% end %>
  <% else %>
      <!--
        Not the current player's turn.
        Display board so they can strategize while waiting.
        They cannot submit anything, however.
      -->
      <script>
          var magicjsonstring = JSON.stringify(<%=  raw(@jsonstring) %>); // WOW SO UGGGGGGG
          $(document).ready(function () {
              console.log("started looking for new boards");
              function loopUntilChange() {
                  $.get('/game2048/game_json/?cachebuster=' + (new Date().getTime()), {id: <%= @game.id %>}, function (data) {
                      var newmagicstring = JSON.stringify(data);
                      if (newmagicstring != magicjsonstring) {
                          location.reload(true); // forces cache ignore
                      }
                      else {
                          console.log("Same board");
                          window.setTimeout(function () {
                              loopUntilChange()
                          }, 1000);
                      }
                  });
              }

              loopUntilChange();
          });
      </script>
      <div class="row-fluid">
        <div class="col-xs-6 col-sm-6 col-md-6" style="text-align: center;">
          <div id="player">
            <p class="who">You</p>

            <div class="board">
              <% for r in 0..3 %>
		  <div class="row">
                  <% for c in 0..3 %>
                      <span class= "grid tile" id="player<%= "#{r}#{c}" %>"><%= (@playerboard[r, c] == 0) ? " " : 2 ** @playerboard[r, c]%></span>
                  <% end %>
		  </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6">
          <div id="opponent">
            <p class="who">Opponent</p>

            <div class="board">
              <% for r in 0..3 %>
		  <div class="row">
                  <% for c in 0..3 %>
                      <span id="opponent<%= "#{r}#{c}" %>" class="grid tile opponent square num<%= @opponentboard[r, c] %> unselected" onclick="selectSquare(<%= "#{r},#{c}"%>)"><%= (@opponentboard[r, c] == 0) ? " " : 2 ** @opponentboard[r, c] %></span>
                      <% first = false %>
                  <% end %>
		  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
