<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Project YAM</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Project YAM</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
	<!--
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
        -->
	<% if user_signed_in? %>
	<div style="color:white; padding-top:5px;" class="container-fluid">  	  
	Logged in as <strong><%= current_user.email %></strong>. 
  	<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  	<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
	</div>
	<% else %>
	<div style="color:white; padding-top:5px;" class="container-fluid">
 	<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  	<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
	<% end %>  
	</div>
	</form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

	<!-- Meant for Devise code -->
	<% if notice %>
  	<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
  	<p class="alert alert-danger"><%= alert %></p>
	<% end %>
	
	<%= yield %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>

